@import '../../variables.css';
.carouselContainer {
    position: relative;
    width: 100%;
    z-index: 1;
  }
  
  .slide img {
    width: 100vw;
    height: 100vh;
  }
  
  .slogan {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--text-light-color); /* Usar la variable para el color del texto claro */
    font-family: 'Montserrat', var(--font-family-base);
    font-size: var(--font-size-heading);
    text-align: center;
  }
  